<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <springProperty name="rootLogLevel" source="logging.level.root" defaultValue="INFO"/>
    <springProperty name="applicationLogLevel" source="logging.level.com.reservation" defaultValue="INFO"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS,Asia/Seoul}){faint} %clr(%-5level) %clr([%thread]){magenta} %clr(%logger{36}){cyan} - %msg%n%ex{full}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.reservation" level="${applicationLogLevel}"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="${rootLogLevel}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
